.product-detail {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-detail-image {
	max-width: 300px;
	height: auto;
}

.color-selection,
.size-selection {
	margin: 10px 0;
}

.color-button,
.size-button {
	margin: 5px;
	padding: 8px 12px;
	border: 1px solid #777;
	border-radius: 4px;
	cursor: pointer;
	background-color: #f0f0f0;
}

.color-button.active,
.size-button.active {
	background-color: #4caf50;
	color: white;
}

.add-to-cart-button {
	padding: 10px 15px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.add-to-cart-button:hover {
	background-color: #45a049;
}

.image-controls {
	display: flex;
	justify-content: center;
	margin: 10px 0; /* Отступы между картинкой и кнопками */
}

.image-controls button {
	color: rgb(0, 0, 0);
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin: 0 5px; /* Отступ между кнопками */
	cursor: pointer;
}

.image-controls button:disabled {
	visibility: hidden;
}
.image-controls button:hover {
	opacity: 0.8;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	position: relative;
	background: white;
	padding: 20px;
	border-radius: 8px;
}

.modal-image {
	max-width: 100%;
	max-height: 80vh;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 52px;
	cursor: pointer;
}
